**/venv
.idea
**/parking*
**/__pycache__
build
**.log
**.txt
**.*pickle
/*.py
!cmaple.egg-info/*
!/setup.py
!LICENSE.txt
!README.txt
dist
doc
**.csv
**.xls
**.xlsm
**.xlsx
test_output
test_data
**/under_construction
**/sfo
**/iptables
**/bps